.industries-hero-page {
  position: relative;
  /* width: 100vw; */
  /* Full viewport height */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../Cimgs/industries-page/hero-img.jpg") !important; /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 65vh;
  background-attachment: fixed;
  /* animation: parallax-move 3s infinite linear; */
}

section.about-1.section-padding.p-b-0.sus-section.sus-section-4case-1 {
  margin-top: 1000px 0 !important;
}

.case-1 img {
  height: 300px !important;
}

.case-2 img {
  height: 450px !important;
}

.case-3 img {
  height: 400px !important;
}

.container-section-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}
.box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.box i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #007bff;
}
.box h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}
.box p {
  font-size: 16px;
  color: #666;
}

.icons-outer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  /* max-width: 1000px; */
  /* margin: 50px auto; */
  /* padding: 20px; */
}
.item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.item i {
  font-size: 40px;
  color: #007bff;
}
.text-content {
  text-align: left;
}
.text-content h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: #333;
}
.text-content ul {
  padding-left: 20px;
  margin: 0;
}
.text-content li {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

.grid li {
  text-align: left !important;
  line-height: 1.6;
}

.case-last img {
  height: 400px;
}
