.industries-hero-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Cimgs/mills/hero-img-rod-mill.jpg");
}

.service-sidebar .download-widget ul a:hover {
  background: rgb(0, 101, 164);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: rgb(0, 121, 194);
  border-radius: 0;
  color: white;
  font-weight: bold;
}

.downloads-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #fff;
  border-radius: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* margin-top: 2rem; */
}

.downloads-container {
  margin-top: 4rem 0 !important;
}
